body {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-y: scroll;
  letter-spacing: -0.2px;
}

.logo {
  font-family: 'Mukta', sans-serif;
  font-size: 11vh;
}

.artist{
  width: 100%;
  height: 100%;
  margin: auto;
}

#artist-background{
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url("https://s1.ticketm.net/dam/a/cbd/3d3ab8ef-7a23-4342-9a0f-8c18cad7acbd_1682661_TABLET_LANDSCAPE_LARGE_16_9.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30vh;
  position: relative;
}

/* Schedule */

.show-location {
  text-align: left;
}

.shows {
  width: 100%;
}

.shows a {
  text-decoration: none;
  color: inherit;
}

.show, .result {
  border-bottom: 1px solid #c8c9ca;
}

#upcoming-btn, #past-btn {
  font-size: 15px;
  border: none;
  background-color: inherit;
  text-decoration: underline;
}

.more-upcoming, .more-past {
  display: none;
}

.social-media-icon{
  padding-left: 5%;
  padding-right: 5%;
}

.btn-outline-light:hover {
  filter: brightness(95%);
  transition-duration: 0.5s;
}

.social-media-icon:hover {
  filter: brightness(70%);
  transition-duration: 0.5s;
}

#arrow:hover {
  opacity: 0.85;
  transition-duration: 0.5s;
}

#show-row:hover, #result-row:hover {
  background-color: #eceded;
  transition-duration: 0.5s;
}

.btn-dark {
  transition-duration: 0.5s;
}

.carousel-control-prev{
  padding-right: 10%;
}

.carousel-control-next{
  padding-left: 10%;
}

.card-title {
  font-size: 1.5vw;
}

.card-body {
  padding-top: 5%;
  padding-bottom: 5%;
}

/* Sidebar */

.sidebar {
  position: sticky;
  top: 52px;
  width: 24%;
  float: right;
  margin-right: 4%;
  padding-top: 30px;
}

.no-sidebar {
  width: 67.5%;
  margin-left: 3%;
  margin-right: 1.5%;
}

.schedule-font {
  font-size: 14px;
}

.schedule-subfont {
  font-size: 12px;
}

.social-media-icon img {
  border-radius: 50%;
  width: 35px;
}

/* Rating */

.rating {
  display: flex;
  clear: left;
  float: left;
}

#review .top{
  padding-top: 5px;
}

#review .bottom{
  padding-top: 30px;
}

#reviewbutton{
  color: white;
}

#review h4 {
  margin-bottom: 0;
}

/* Home page search bar */

.search{
  position: relative;
  width: 60%;
  margin-top: 1%;
  margin-left: 20%;
}

.search input{
  height: 45px;
  text-indent: 15px;
  border: 2px solid #c8c9ca;
}

.search button{
  position: absolute;
  top: 5px;
  right: 5px;
  height: 35px;
  width: 15%;
}

.search button img {
  height: 60%;
  margin-bottom: 3px;
}

.search .form-control {
  padding-left: 0;
}

/* Arist page search bar */

.navsearch{
  position: relative;
  width: 40%;
  right: 30%;
}

.navsearch input{
  height: 37px;
  font-size: 15px;
  text-indent: 12px;
  border: 2px solid #c8c9ca;
}

.navsearch button{
  position: absolute;
  top: 4.5px;
  right: 4.5px;
  height: 28px;
  width: 50px;
}

.navsearch button img {
  height: 90%;
  margin-bottom: 11px;
}

.navsearch .form-control {
  padding-left: 0;
}

#homepage{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/1763075/pexels-photo-1763075.jpeg?cs=srgb&dl=pexels-sebastian-ervi-1763075.jpg&fm=jpg");
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1557787163-1635e2efb160?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGNvbmNlcnR8ZW58MHx8MHx8&w=1000&q=80"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

#homeheader
{
  color: white;
  position: relative;
  top: 30%;
}

#writebutton{
  margin-bottom: 30px;
  color: white;
}

#guitar {
  height: 45px;
  margin-left: 4px;
  padding-bottom: 12px;
}

#ontour {
  padding-top: 12px;
  font-size: 22px;
}

#arrow {
  width: 35px;
  border-radius: 50%;
  margin-bottom: 10%;
}

#review-icon {
  width: 23px;
  filter: invert(100%);
}

#camera-icon {
  width: 25px;
  padding-bottom: 3px;
}

/* Row Spacing */ 

#gallery {
  margin-top: 30px;
  margin-bottom: 20px;
}

hr {
  margin: 0;
  margin-top: 40px;
  clear: left;
}

#reviews {
  margin-top: 30px;
  margin-bottom: 30px;
}

#write-review {
  margin-top: 30px;
  padding-bottom: 0;
}

#write-a-review {
  padding-left: 0;
}

.navbar {
  height: 52px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Sub-titles */

h4 {
  float: left;
}

#clear {
  clear: left;
}

/* Add photo button */

#add-photo {
  padding-left: 5px;
  padding-right: 5px;
}

.btn-outline-light {
  color: black;
  border: 1px solid #c8c9ca;
}

#photobutton:hover {
  border-color: #c8c9ca;
}

/* Artist Header */

#text-contain {
  position: absolute;
  bottom: 15%;
  left: 8%;
}

.MuiRating-sizeLarge {
  font-size: 6.5vh !important;
}

#artist-name {
  font-size: 7vh;
}

/* Results */

#results {
  width: 100%;
  text-align: left;
  padding: 0;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.result-margin {
  margin-left: 8%;
  margin-right: 8%;
}

#result-img img {
  border-radius: 50%;
  height: 18vh;
  width: 18vh;
}

.result-margin a {
  text-decoration: none;
  color: inherit;
}

#result-row {
  padding-top: 2%;
  padding-bottom: 2%;
  height: 100%;
}

#result-name {
  font-size: 20px;
}

#result-info {
  text-align: left;
  padding-left: 5vh;
}
